/* TITRE */
.contain {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#5F99FF;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#29D200;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}
/* TITRE */

/* CORPS */

html {
  scroll-behavior: smooth;
}

body   { font-family: 'Mukta', sans-serif;
color: #5F99FF;
background-color:#444444;
margin:0px;
padding:0px;
}

p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}

@media screen and (max-height:700px){ 
.tete h1{
	font-size:350%;
}

.tete {
	background-color:#444444;
	font-size:135%;
	text-align:center;
	height:100vh;
	overflow:auto;
}
}

@media screen and (min-height:700px){ 
.tete h1{
	font-size:350%;
}

.tete {
	background-color:#444444;
	font-size:185%;
	text-align:center;
	height:100vh;
	overflow:auto;
}
}

/* CORPS */

/* DIV PRINCIPALES */

.experience {
	background-color:#181818;
	color:white;
	font-size:30px;
	text-align:center;
}

.projets {
	background-color:#444444;
	color:#5F99FF;
	font-size:30px;
	text-align:center;
}

.cv {
	margin-top:50px;
	background-color:#181818;
	color:white;
	font-size:30px;
	text-align:center;
}

.plus {
	background-color:#444444;
	color:#5F99FF;
	font-size:30px;
	text-align:center;
}

/* DIV PRINCIPALES */


/* FOOTER */
footer {
  background-color: #6A6A6A;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p,
.footer-content a {
  font-size: 1.2vw;
  margin: 10px 0;
}

.footer-content a {
  color: #5F99FF;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-content a:hover {
  color: #3F77FF;
}

/* Media query pour ajuster la taille de la police du footer sur des écrans plus petits */
@media screen and (max-width: 768px) {
  .footer-content p,
  .footer-content a {
      font-size: 2vw;
  }
}

@media screen and (max-width: 480px) {
  .footer-content p,
  .footer-content a {
      font-size: 3vw;
  }
}
/* FOOTER */




/* BARRE NAV */

nav {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: background 0.3s ease; /* Ajout d'une transition pour l'effet de calque */
}

nav:hover {
  background-color: rgba(255, 255, 255, 1);
}

nav .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav .logo h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: #333;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #5F99FF;
}

/* Media query pour les écrans de taille téléphone (moins de 768px de large) */
@media screen and (max-width: 767px) {
  nav .container {
      width: 90%;
      flex-direction: column;
      align-items: flex-start;
  }

  nav ul {
      margin-top: 1rem;
      gap: 10px;
  }
}

/* BARRE NAV */

/* PLUS */
.plus {
    background-color: #444444;
    color: #5F99FF;
    font-size: 24px;
    text-align: center;
    padding: 40px 0;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.contact-item {
    text-align: left;
    max-width: 300px;
}

.contact-item p {
    margin-bottom: 15px;
}

.contact-item strong {
    color: #fff;
}

.contact-item a {
    color: #5F99FF;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}
/* PLUS*/

/*COMPETENCE*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.gallery figure {
    width: 10%; /* Largeur fixe pour chaque figure */
    margin: 10px;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste la taille de l'image sans déformer l'aspect ratio */
}

/*COMPETENCE*/
	
/* DIV PROJETS */

.projects {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  flex-wrap: wrap; /* Permet aux projets de passer à la ligne si l'espace est insuffisant */
}

.project {
  width: 300px;
  margin: 10px;
  margin-bottom: 150px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden; 
  transition: all 0.3s ease; 
}

.project:hover {
  transform: scale(1.2); /* L'élément s'agrandira de 10% lorsqu'il sera survolé */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* L'ombre portée sera plus prononcée */
  transition: all 0.3s ease;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.project h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5F99FF;
  color: #fff;/* CV */

  .cv img{
    width:80%;
    float:center;
  }
  /* CV */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3F77FF;
}

/* DIV PROJETS */

/* CV */
.cv {
    text-align: center;
    margin: 20px;
}

.cv h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cv .cv-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cv img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.cv img{
	width:80%;
	float:center;
}
/* CV */

.cv a {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5F99FF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cv a:hover {
    background-color: #3F77FF;
}
/* CV */


/* ICONES */
.plus img{
	width:10%;
}
/* ICONES */



/* TIMELINE */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card {
  position: relative;
  max-width: 400px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #5F99FF;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  color: #5F99FF;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid #5F99FF;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}
/* TIMELINE */
